{% extends 'base.html.twig' %}

{% block title %}Create New Ads{% endblock %}

{% form_theme form 'template_parts/_collections.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Create a new Ads</h1>

        {{ form_start(form) }}

        {{form_widget(form)}}

        <button type="submit" class="btn btn-primary"> Create a new ad</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/assets/js/ad.js"></script>
{% endblock %}