{% extends 'base.html.twig' %}

{% block title %}Create New Ads{% endblock %}

{% form_theme form 'template_parts/_collections.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Create a new Ads</h1>

        {{ form_start(form) }}

        {{form_widget(form)}}

        <button type="submit" class="btn btn-primary"> Create a new ad</button>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('#add-image').click(function(){
            // je recupere le numero des futurs champs que je vais creer
            const index = +$('#widgets-counter').val();

            // je recupere le prototype des entrees 
            const template = $('#annonce_pics').data('prototype').replace(/_name_/g, index);

           // j'injecte ce code au sein de la div
            $('#annonce_pics').append(template);

            $('#widgets-counter').val(index + 1);

            // manage delete button
            handleDeleteButtons();
        });

        // Creating button delete function
        function handleDeleteButtons(){
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target;
                $(target).remove();
            });
        }

            // manage delete button
            handleDeleteButtons();

    </script>
{% endblock %}