{% extends 'base.html.twig' %}

{% block title %}Account connexion{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="bg-light py-3 px-3">
                <h1> Connect Yourself !</h1>
                {% if hasError %}
                    <div class="alert alert-danger">An error occur somewhere , Email or Password are incorrect</div>
                {% endif %}

                <form action="{{ path('account_login') }}" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="_username" id="email" class="form-control" placeholder=" Enter your Email adress ..." required value="{{username}}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="_password" id="password" class="form-control"  placeholder=" Enter your Password ..."required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Connect me !</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}
