{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <div class="container">
	    <div class="jumbotron mt-3">
		    <h1 class="display-3">Welcome to my Awsome website</h1>
		    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		    <hr class="my-4">
		    <p>Do you wanna discover it with me ?</p>
		    <p class="lead">
			    <a class="btn btn-secondary" href="#" role="button">Discover more</a>
		    </p>
	    </div>
   
        <h2 class="h1 mt-4 mb-4">Our Star Flat!</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb3">
                    <div class="card-header text-center">
                        3 rooms, <strong>49&euro; / night</strong> <br>
                        <small>Not ranked yet</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Nice pics" style="height: 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                                Crazy flat!!!!
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sapiente delectus laborum optio neque praesentium recusandae commodi voluptates totam sequi?
                            </p>
                            <a href="#" class="btn btn-secondary">Learn More</a>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb3">
                    <div class="card-header text-center">
                        3 rooms, <strong>49&euro; / night</strong> <br>
                        <small>Not ranked yet</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Nice pics" style="height: 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                                Crazy flat!!!!
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sapiente delectus laborum optio neque praesentium recusandae commodi voluptates totam sequi?
                            </p>
                            <a href="#" class="btn btn-secondary">Learn More</a>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb3">
                    <div class="card-header text-center">
                        3 rooms, <strong>49&euro; / night</strong> <br>
                        <small>Not ranked yet</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Nice pics" style="height: 200px; width: 100%; display: block">
                        <div class="card-body">
                            <h4 class="card-title">
                                Crazy flat!!!!
                            </h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae sapiente delectus laborum optio neque praesentium recusandae commodi voluptates totam sequi?
                            </p>
                            <a href="#" class="btn btn-secondary">Learn More</a>
                        </div>
                </div>
            </div>
        </div>

        <h2 class="h1 mt-4 mb-4">Our Star Owner !</h2>

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                   <div class="card-body">
                    <h4 class="card-title">Greg</h4>
                    <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Very nice pics" class="float-left mr-3">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, minima.</p>
                            <a href="#" class="btn btn-success float-right">Learn more </a>
                        </div>
                   </div> 
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                   <div class="card-body">
                    <h4 class="card-title">Greg</h4>
                    <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Very nice pics" class="float-left mr-3">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, minima.</p>
                            <a href="#" class="btn btn-success float-right">Learn more </a>
                        </div>
                   </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}
